<div class="back">
    <svg
      class="back__arrow"
      width="20"
      height="16"
      viewBox="0 0 20 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M19.4161 6.69447H5.5683C5.19291 6.69447 5.02607 6.23566 5.27633 5.9854L9.2805 1.98123C9.53076 1.73097 9.53076 1.35558 9.2805 1.10532L8.36288 0.187696C8.11262 -0.0625652 7.73723 -0.0625652 7.48697 0.187696L0.187696 7.52868C-0.0625652 7.77894 -0.0625652 8.15433 0.187696 8.40459L7.48697 15.7039C7.73723 15.9541 8.11262 15.9541 8.36288 15.7039L9.23879 14.8279C9.48905 14.5777 9.48905 14.2023 9.23879 13.952L5.23462 9.94786C4.98436 9.65589 5.1512 9.19708 5.52659 9.19708H19.3743C19.708 9.19708 20 8.94682 20 8.61314V7.36184C20 7.02815 19.7497 6.69447 19.4161 6.69447Z"
        fill="#333333"
      />
    </svg>
    <p class="back__text">CU - Alumni Weekend</p>
  </div>

  <div class="main row">
    <div class="main__left">
      <div class="group">
        <h2>Free Ticket</h2>
        <p>
          Free ticket for anyone to make a valuable contribution towards our
          future online events programme. Thank you.
        </p>
      <!--   <small>Sales end in 1 hour</small> -->
        <div class="select">
          <label for="tickets">Free</label>
          <select id="tickets">
            <option value="1">1</option>
          </select>
        </div>
        <div class="alert alert-info alert-white rounded">
             Only 2 tickets available. <a href="#">Join waitlist</a>
        </div>
      </div>
      <div class="group">
        <h2>Alumni Base Ticket</h2>
        <p>
            This livestream will broadcast via a private YouTube link that will be sent to ticket purchasers an hour prior to showtime
        </p>
        <small>Sales end in 5 days</small>
        <div class="select">
          <label for="tickets">$95.99</label>
          <select id="tickets">
            <option value="3">3</option>
          </select>
        </div>
        <div class="alert alert-info alert-white rounded">
            1 Ticket Added to cart. Want to join the waitlist for 2 tickets? <a href="#">Join waitlist</a>
        </div>
      </div>
      <div class="group">
        <h2>Alumni VIP Ticket</h2>
        <p>
          This livestream will broadcast via a private YouTube link that will
          be sent to ticket purchasers an hour prior to showtime
        </p>
        <small>Sales end in 5 days</small>
        <div class="select">
          <label for="tickets">$3,500.00</label>
          <select id="tickets">
            <option value="2">2</option>
          </select>
        </div>
        <div class="alert alert-info alert-white rounded">
            2 Tickets Waitlisted. <a href="#">Cancel</a>
        </div>
      </div>
    </div>
    <div class="main__right">
      <div class="main__summary">
        <h2 class="bold">Order summary</h2>
        <div class="group">
          <div class="flex">
            <p>1x Free Ticket</p>
            <p>$0.00</p>
          </div>
          <div class="flex">
            <p>2x Alumni VIP Ticket</p>
            <p>$3,500.00</p>
          </div>
        </div>
        <div class="group">
          <h3>Subtotal</h3>
          <div class="flex">
            <p>Subtotal</p>
            <p>$7,000.00</p>
          </div>
          <div class="flex">
            <p>Taxes</p>
            <p>$289.42</p>
          </div>
        </div>
        <div class="group flex bold">
          <p>Total</p>
          <p>$7,289.42</p>
        </div>
        <p class="promo">Have a promo code?</p>
        <div class="promo-box group flex">
           
                <input type="text" placeholder="Promo Code" class="promo-input">
                <button class="promo-btn">Apply</button>
           
            
        </div>
      </div>
      <button class="main__btn">Checkout</button>
    </div>
  </div>
