html {
    box-sizing: border-box;
    font-size: 62.5%;
    word-break: break-word;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.6rem;
    line-height: 1.6;
    background: #e5e5e5;
    font-family: Salesforce Sans;
    padding: 13rem 0;
  }
  
  h1,
  h2,
  h3 {
    line-height: 1;
  }
  
  img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .row {
    width: 90%;
    max-width: 114rem;
    margin: 0 auto;
  }
  
  .group {
    padding: 1.5rem 0;
  }
  .group:not(:last-of-type) {
    border-bottom: 1px solid #dddbda;
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .back {
    position: absolute;
    top: 3.3rem;
    left: 5.4rem;
    display: flex;
    align-items: center;
    gap: 1.3rem;
    font-family: Salesforce Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #000000;
  }

  .up {
    float: right;
    display: flex;
  }
  
  .main {
    display: grid;
    grid-template-columns: 0.75fr 0.25fr;
    gap: 1.8rem;
  }
  .main__left{
    background: #ffffff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
  }

  .main__summary {
    background: #ffffff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
  }
  .main_left_card{
    margin-top: 20px;
    background: #ffffff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding: 5rem 6rem;
  }

  .main_left_card h2 {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: 0.6rem;
  }

  .main_left_card p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.7rem;
    max-width: 68rem;
  }

  .main_left_card small {
    font-size: 1.3rem;
    line-height: 2.2rem;
    color: #706e6b;
    display: block;
    margin-bottom: 1.4rem;
  }
  .main_left_card .select {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  .main_left_card .select label {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  .main_left_card .select select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url("/images/down-arrow.svg");
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    min-width: 5rem;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #706e6b;
    border: 1px solid #c4c4c4;
    outline: none;
    border-radius: 4px;
    padding: 0.6rem 1.2rem;
  }

  .main__left {
    padding: 7rem 6rem;
  }
  .main__left h2 {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: 0.6rem;
  }
  .main__left p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.7rem;
    max-width: 68rem;
  }
  .main__left small {
    font-size: 1.3rem;
    line-height: 2.2rem;
    color: #706e6b;
    display: block;
    margin-bottom: 1.4rem;
  }
  .main__left .select {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  .main__left .select label {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  .main__left .select select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url("/images/down-arrow.svg");
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    min-width: 5rem;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #706e6b;
    border: 1px solid #c4c4c4;
    outline: none;
    border-radius: 4px;
    padding: 0.6rem 1.2rem;
  }
  .main__right {
    display: flex;
    flex-direction: column;
    gap: 2.9rem;
  }
  .main__summary {
    padding: 3.9rem 3.2rem;
    font-style: normal;
    font-family: Salesforce Sans;
    color: #000000;
  }
  .main__summary h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
  }
  .main__summary h3 {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
  }
  .main__summary p {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    line-height: 2.2rem;
  }
  .main__summary .promo {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #0070d2;
    cursor: pointer;
  }
  .main__btn {
    display: inline-block;
    cursor: pointer;
    border: none;
    background: #0eb58a;
    border-radius: 6px;
    font-family: Salesforce Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #ffffff;
    padding: 1em 2em;
    width: 100%;
  }




  /* alert css */
  .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 15px;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
}

.alert .alert-link {
    font-weight: bold;
}

.alert>p,.alert>ul {
    margin-bottom: 0;
}

.alert>p+p {
    margin-top: 5px;
}

.alert-dismissable {
    padding-right: 35px;
}

.alert-dismissable .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.alert-success hr {
    border-top-color: #c9e2b3;
}

.alert-success .alert-link {
    color: #2b542c;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.alert-info hr {
    border-top-color: #a6e1ec;
}

.alert-info .alert-link {
    color: #245269;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.alert-warning hr {
    border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
    color: #66512c;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.alert-danger hr {
    border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
    color: #843534;
}

.alert {
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.11);
}

.alert .sign {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
    text-align: center;
    width: 25px;
    display: inline-block;
}

.alert-success {
    background-color: #dbf6d3;
    border-color: #aed4a5;
    color: #569745;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #98cce6;
    color: #3a87ad;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #f1daab;
    color: #c09853;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #e0b1b8;
    color: #b94a48;
}

.alert-white {
   background: rgba(225, 218, 207, 0.31);
    border-top-color: #d8d8d8;
    border-bottom-color: #bdbdbd;
    border-left-color: #cacaca;
    border-right-color: #cacaca;
    color: #404040;
    position: relative;
}

.alert-white .icon {
    text-align: center;
    width: 45px;
    height: 100%;
    position: absolute;
    top: -1px;
    left: -1px;
    border: 1px solid #bdbdbd;
}

.alert-white .icon:after {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid #bdbdbd;
    position: absolute;
    border-left: 0;
    border-bottom: 0;
    top: 50%;
    right: -6px;
    margin-top: -5px;
    background: #fff;
}

.alert-white.rounded {
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.alert-white.rounded .icon {
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
}

.alert-white .icon i {
    font-size: 20px;
    color: #FFF;
    left: 12px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
}

.alert-white.alert-danger .icon,.alert-white.alert-danger .icon:after {
    border-color: #ca452e;
    background: #da4932;
}

.alert-white.alert-info .icon,.alert-white.alert-info .icon:after {
    border-color: #3a8ace;
    background: #4d90fd;
}

.alert-white.alert-warning .icon,.alert-white.alert-warning .icon:after {
    border-color: #d68000;
    background: #fc9700;
}

.alert-white.alert-success .icon,.alert-white.alert-success .icon:after {
    border-color: #54a754;
    background: #60c060;
}
  /* end of alert css */

  /* form column rows */
  .form-row{
    display: flex;
  }
  .mr-10{
    margin-right: 10px;
  }
  .mt-7{
    margin-top: 7px
  }
  .col-6 {
    flex: 50%;
    
  }
  .col-12 {
    flex: 100%;
    width: 100%;
  }
  .form-input {
    width: 100%;
    border: 1px solid #EB7092;
    box-sizing: border-box;
    border-radius: 4px; 
    padding: 15px;
  }

  .form-input-1 {
    width: 100%;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 4px; 
    padding: 15px;
  }

  /* Promo Input */
  .promo-box {
    margin: 0 auto;
    max-width: 900px; 
  }

  .promo-input{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: #333;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      width: 100%;
      max-width: 500px;
      background-color: #FFFFFF;
      border: 1px solid #C4C4C4;;
      padding: 10px 11px 11px 11px;
      border-radius: 4px;
      box-shadow: none;
      outline: none;
      margin: 0;
      box-sizing: border-box; 
  }

  .promo-btn{
    width: -webkit-fill-available;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #0EB58A;
    cursor: pointer;
  }

  .promo-btn:hover{
      background: #0EB58A;
  }

  /* Steppers */
  ul {
    list-style-type: none;
    margin: 2px;
    padding: 0;
  }

  li input{
      margin-right: 5px;
  }

  input[type='radio']:checked:after {
      background: #0EB58A;
  }

  /* stepper css */
  .stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  
  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
  }
  
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
  }
  
  .stepper-item.active {
    font-weight: bold;
  }
  
  .stepper-item.completed .step-counter {
    background-color: #4bb543;
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #4bb543;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }
  /* End of steppers */
  /* end of promo input */
  @media only screen and (max-width: 56.25em) {
    .main {
      grid-template-columns: 0.65fr 0.35fr;
    }
    .main__left {
      padding: 3.5rem 3rem;
    }
    .main_left_card {
      padding: 3.5rem 3rem;
    }
    .main__summary {
      padding: 2.9rem 2.2rem;
    }
  }
  @media only screen and (max-width: 35.7em) {
    .main {
      grid-template-columns: 1fr;
    }
  }/*# sourceMappingURL=style.css.map */